
NEXT_PUBLIC_SUPABASE_URL=https://duvrkqlfvreektkwtsna.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1dnJrcWxmdnJlZWt0a3d0c25hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyNDU0NDQsImV4cCI6MjA3NTgyMTQ0NH0.M4bkm8ScxXZTk0Mw4pBE0eD_n3AKqP7GYqUqPUoXRBE